# Use this file to store secrets like usernames and passwords.
# Learn more at https://www.home-assistant.io/docs/configuration/secrets/

# Databases
mariadb: "mysql://{{ db.user }}:{{ db.password }}@mariadb.hass.lo/{{ db.name }}?charset=utf8mb4"
influxdb: {{ influxdb_password }}
